fastapi
uvicorn
sqlalchemy
asyncpg
greenlet
alembic
pydantic
pydantic-settings
python-dotenv
openai
qdrant-client
tiktoken
PyPDF2
python-docx
Pillow
pytesseract
python-multipart
openai-agents
boto3
langchain_openai
fastembed